.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 0;
  gap: 1rem;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primary-color);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: var(--primary-color);
  cursor: pointer;
  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.itemSelected {
  @extend .item;
  color: white;
  background-color: var(--primary-color);
  pointer-events: none;
}
