.container {
  display: grid;
  grid-template-columns: 150px 1fr;
  max-width: 90%;
  gap: 0 0.75rem;
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  &:hover {
    border: 1px solid var(--primary-color);
  }
}
.categories {
  display: flex;
  flex-direction: row;
  grid-area: categories;
  font-size: small;
}
.title {
  margin: 0.5rem 0;
}
.headline {
  margin: 0;
}
